html {
    font-family: "Montserrat", sans-serif;
}

.addProduct {
    text-align: center;
}

.addBtn {
    border: none;
    margin-top: 2%;
    width: 5%;
    color: grey;
}

body {
    align-items: center;
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

}

.blankError {
    margin-right: 13.5%;
    display: block;
    color: red;
    margin-top: -0.5%;
    font-size: 13px;
}

.container-fluid {
    padding: 2% 15%;

}

.navbar {
    padding: 0 0 4.5rem;

}

.nav-item {
    padding-left: 25px;
}

.navbar-brand:hover {
    cursor: pointer;
}

.footer {

    text-align: center;

    padding: 2%;
    margin-top: 6%;

    color: rgb(84, 166, 243);
}

.footer-icon {
    margin: 1%;
}

.footer-icon:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    padding-bottom: 1%;
    color: white;
    background-color: rgb(119, 157, 254);
    margin-bottom: 1.5%;
    font-family: "Montserrat";
}

.icon {
    margin-right: 2%;
}

.inputBox {
    display: grid;

    padding: 5px;
    margin: 20px auto 5px auto;
    border: 1px solid;
    width: 300px;
}

.outerDiv {
    text-align: center;
}



.outerDiv ul {
    margin: 0;
}

.listBtn {
    margin: -5px 5px;
    padding-top: 0;
    border: none;
}

.profilePic {
    border-radius: 50%;
    margin: 3%;
}


.muiBox {
    margin-top: 0.5%;
}

.searchBox {
    margin: 1% 0 2% 0;
    width: 40%;
    border-bottom-color: skyblue;
    padding: 0.5%;
}


.signUpBtn {
    display: grid;
    border-color: blue;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    margin: 25px auto 5px auto;
    background-color: rgb(84, 166, 243);

}

/* raise effect */
.signUpBtn:hover,
.signUpBtn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

/* pulse effect */

/* .operationBtn:hover, 
.operationBtn:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
} */

.table {
    text-align: center;
}

.tableHead {
    background-color: rgb(181, 179, 186);
}

.textField {
    width: 40%;
}



#title {
    background-color: rgb(119, 157, 254);
    padding: 1% 3%;
}

@media (max-width:1000px) {
    #title {
        text-align: right;
    }
}